/*Terminal*/
.Terminal {
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

/*Lines*/
.Terminal .Line {
    margin: 0;
    color: #eee;
    font-size: 18px;
}

/*InputBox*/
.Terminal .InputBox {
    border: none;
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
    outline: none;
    background-color: transparent;
    color: #eee;
}

/*InputBox Placeholder*/
.Terminal ::-webkit-input-placeholder { color: #FF9800; }
.Terminal ::-moz-placeholder { color: #FF9800; }
.Terminal :-ms-input-placeholder { color: #FF9800; }